<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form action="/save/" method="post">
        <legend>Save To-Do item</legend>
        <fieldset>
            <ul>
                <li>
                    <label for="save-to-do-item">Add To-Do item</label>
                    <input type="text" name="save-to-do-item" id="save-to-do-item">
                </li>
                <li>
                    <button type="submit" name="button">Save</button>
                </li>
            </ul>
        </fieldset>
    </form>
</body>
</html>
